[submodule "data"]
	path = data
	url = https://github.com/Popolitics/data.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Popolitics/frontend.git
[submodule "ia-service"]
	path = ia-service
	url = https://github.com/Popolitics/ia-service.git
[submodule "data-service"]
	path = data-service
	url = https://github.com/Popolitics/data-service.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/Popolitics/auth-service.git
[submodule "api"]
	path = api
	url = https://github.com/Popolitics/api.git
